<!DOCTYPE html>
<html>
  <head>
    <title>accountData</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/accountdata/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/accountdata/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (footer) -->

      <!-- FooterBar (Group) -->
      <div id="u2609" class="ax_default" data-label="FooterBar" data-left="0" data-top="1124" data-width="1919" data-height="324">

        <!-- Unnamed (Rectangle) -->
        <div id="u2610" class="ax_default box_3">
          <div id="u2610_div" class=""></div>
          <div id="u2610_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2611" class="ax_default heading_1">
          <div id="u2611_div" class=""></div>
          <div id="u2611_text" class="text ">
            <p><span style="text-decoration:underline ;">Schedule plan without problem</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2612" class="ax_default heading_2">
          <div id="u2612_div" class=""></div>
          <div id="u2612_text" class="text ">
            <p><span>Facebook</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2613" class="ax_default" data-left="894" data-top="1165" data-width="143" data-height="206">

          <!-- Unnamed (Group) -->
          <div id="u2614" class="ax_default" data-left="894" data-top="1227" data-width="132" data-height="144">

            <!-- Unnamed (Rectangle) -->
            <div id="u2615" class="ax_default heading_2">
              <div id="u2615_div" class=""></div>
              <div id="u2615_text" class="text ">
                <p><span>Email</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2616" class="ax_default heading_2">
              <div id="u2616_div" class=""></div>
              <div id="u2616_text" class="text ">
                <p><span>Phone</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2617" class="ax_default heading_2">
              <div id="u2617_div" class=""></div>
              <div id="u2617_text" class="text ">
                <p><span>Address</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2618" class="ax_default heading_2">
            <div id="u2618_div" class=""></div>
            <div id="u2618_text" class="text ">
              <p><span>Information</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2619" class="ax_default heading_2">
          <div id="u2619_div" class=""></div>
          <div id="u2619_text" class="text ">
            <p><span>Google</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2620" class="ax_default heading_2">
          <div id="u2620_div" class=""></div>
          <div id="u2620_text" class="text ">
            <p><span>About Us</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2621" class="ax_default heading_2">
          <div id="u2621_div" class=""></div>
          <div id="u2621_text" class="text ">
            <p><span>Contact Us</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2622" class="ax_default shape">
          <div id="u2622_div" class=""></div>
          <div id="u2622_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2623" class="ax_default heading_1">
          <div id="u2623_div" class=""></div>
          <div id="u2623_text" class="text ">
            <p><span style="text-decoration:underline ;">Rafał Niemiec 2020</span></p>
          </div>
        </div>

        <!-- Unnamed (Vertical Line) -->
        <div id="u2624" class="ax_default line">
          <img id="u2624_img" class="img " src="images/mainpage/u20.svg"/>
          <div id="u2624_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Vertical Line) -->
        <div id="u2625" class="ax_default line">
          <img id="u2625_img" class="img " src="images/mainpage/u20.svg"/>
          <div id="u2625_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u2626" class="ax_default image">
        <img id="u2626_img" class="img " src="images/mainpage/u22.png"/>
        <div id="u2626_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2608" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (accountField) -->

      <!-- AllAccount (Group) -->
      <div id="u2628" class="ax_default" data-label="AllAccount" data-left="0" data-top="0" data-width="1920" data-height="941">

        <!-- Unnamed (menuBar) -->

        <!-- MenuBar (Group) -->
        <div id="u2630" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="84.6329296397423">

          <!-- MenuBar (Group) -->
          <div id="u2631" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="84.6329296397423">

            <!-- MenuBarBg (Rectangle) -->
            <div id="u2632" class="ax_default box_3" data-label="MenuBarBg">
              <div id="u2632_div" class=""></div>
              <div id="u2632_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- LogoImg (Image) -->
            <div id="u2633" class="ax_default image" data-label="LogoImg">
              <img id="u2633_img" class="img " src="images/mainpage/u22.png"/>
              <div id="u2633_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- LoginButton (Shape) -->
            <div id="u2634" class="ax_default icon" data-label="LoginButton">
              <img id="u2634_img" class="img " src="images/mainpage/loginbutton_u30.svg"/>
              <div id="u2634_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- MenuLine (Line) -->
            <div id="u2635" class="ax_default line" data-label="MenuLine">
              <img id="u2635_img" class="img " src="images/mainpage/menuline_u31.svg"/>
              <div id="u2635_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u2629" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (accountBar 1920) -->

        <!-- Unnamed (Group) -->
        <div id="u2637" class="ax_default" data-left="0" data-top="144" data-width="1563" data-height="92">

          <!-- Unnamed (Rectangle) -->
          <div id="u2638" class="ax_default box_3">
            <div id="u2638_div" class=""></div>
            <div id="u2638_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2639" class="ax_default" data-left="76" data-top="309" data-width="237" data-height="320">

          <!-- Unnamed (Group) -->
          <div id="u2640" class="ax_default" data-left="76" data-top="309" data-width="237" data-height="80">

            <!-- Unnamed (Rectangle) -->
            <div id="u2641" class="ax_default heading_1">
              <div id="u2641_div" class=""></div>
              <div id="u2641_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My plans</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2642" class="ax_default icon">
              <img id="u2642_img" class="img " src="images/myplans/u2533.svg"/>
              <div id="u2642_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2643" class="ax_default" data-left="76" data-top="389" data-width="237" data-height="80">

            <!-- Unnamed (Rectangle) -->
            <div id="u2644" class="ax_default heading_1">
              <div id="u2644_div" class=""></div>
              <div id="u2644_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My account</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2645" class="ax_default icon">
              <img id="u2645_img" class="img " src="images/myplans/u2536.svg"/>
              <div id="u2645_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2646" class="ax_default" data-left="76" data-top="469" data-width="237" data-height="80">

            <!-- Unnamed (Rectangle) -->
            <div id="u2647" class="ax_default heading_1">
              <div id="u2647_div" class=""></div>
              <div id="u2647_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Change password</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2648" class="ax_default icon">
              <img id="u2648_img" class="img " src="images/myplans/u2539.svg"/>
              <div id="u2648_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2649" class="ax_default" data-left="76" data-top="549" data-width="237" data-height="80">

            <!-- Unnamed (Rectangle) -->
            <div id="u2650" class="ax_default heading_1">
              <div id="u2650_div" class=""></div>
              <div id="u2650_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Data sets</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2651" class="ax_default icon">
              <img id="u2651_img" class="img " src="images/myplans/u2542.svg"/>
              <div id="u2651_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u2636" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (optionsBar) -->

        <!-- Unnamed (Group) -->
        <div id="u2653" class="ax_default" data-left="108" data-top="715" data-width="212" data-height="60">

          <!-- Unnamed (Rectangle) -->
          <div id="u2654" class="ax_default heading_1">
            <div id="u2654_div" class=""></div>
            <div id="u2654_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Options</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2655" class="ax_default icon">
            <img id="u2655_img" class="img " src="images/myplans/u2546.svg"/>
            <div id="u2655_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- LogOutForms (Group) -->
        <div id="u2656" class="ax_default" data-label="LogOutForms" data-left="108" data-top="835" data-width="212" data-height="60">

          <!-- Unnamed (Rectangle) -->
          <div id="u2657" class="ax_default heading_1">
            <div id="u2657_div" class=""></div>
            <div id="u2657_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Log Out</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2658" class="ax_default icon">
            <img id="u2658_img" class="img " src="images/myplans/u2549.svg"/>
            <div id="u2658_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2659" class="ax_default" data-left="108" data-top="775" data-width="212" data-height="60">

          <!-- Unnamed (Rectangle) -->
          <div id="u2660" class="ax_default heading_1">
            <div id="u2660_div" class=""></div>
            <div id="u2660_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Help</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2661" class="ax_default icon">
            <img id="u2661_img" class="img " src="images/myplans/u2552.svg"/>
            <div id="u2661_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
        <div id="u2652" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (Shape) -->
        <div id="u2662" class="ax_default line">
          <img id="u2662_img" class="img " src="images/myplans/u2553.svg"/>
          <div id="u2662_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2663" class="ax_default shape">
          <div id="u2663_div" class=""></div>
          <div id="u2663_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
      <div id="u2627" style="display:none; visibility:hidden;"></div>

      <!-- AccountHeader (Group) -->
      <div id="u2664" class="ax_default" data-label="AccountHeader" data-left="545" data-top="158" data-width="484" data-height="68">

        <!-- AccountText (Rectangle) -->
        <div id="u2665" class="ax_default heading_1" data-label="AccountText">
          <div id="u2665_div" class=""></div>
          <div id="u2665_text" class="text ">
            <p><span>Account data</span></p>
          </div>
        </div>

        <!-- AccountIcon (Shape) -->
        <div id="u2666" class="ax_default icon" data-label="AccountIcon">
          <img id="u2666_img" class="img " src="images/accountdata/accounticon_u2666.svg"/>
          <div id="u2666_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2667" class="ax_default paragraph">
        <div id="u2667_div" class=""></div>
        <div id="u2667_text" class="text ">
          <p><span>Email:</span></p><p><span><br></span></p><p><span><br></span></p><p><span>Login:</span></p><p><span><br></span></p><p><span><br></span></p><p><span>Number of plans:</span></p><p><span><br></span></p><p><span><br></span></p><p><span>Time of registration:</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2668" class="ax_default line">
        <img id="u2668_img" class="img " src="images/accountdata/u2668.svg"/>
        <div id="u2668_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2669" class="ax_default line">
        <img id="u2669_img" class="img " src="images/accountdata/u2669.svg"/>
        <div id="u2669_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2670" class="ax_default line">
        <img id="u2670_img" class="img " src="images/accountdata/u2669.svg"/>
        <div id="u2670_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2671" class="ax_default line">
        <img id="u2671_img" class="img " src="images/accountdata/u2669.svg"/>
        <div id="u2671_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2672" class="ax_default line">
        <img id="u2672_img" class="img " src="images/accountdata/u2669.svg"/>
        <div id="u2672_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
