<!DOCTYPE html>

{% include "scheduler/imports.html" %}

<!--
{% block foo %}
  {% include "scheduler/imports.html" %}
{% endblock %}
-->

<html>
  <head>
    {% load static %}
    <title>changePassword</title>

    <script src="{% static 'webScheduler/files/changePassword/data.js' %}"></script>
    <link href="{% static 'webScheduler/files/changePassword/styles.css' %}" type="text/css" rel="stylesheet"/>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (footer 1920) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2490" class="ax_default box_3">
        <div id="u2490_div" class=""></div>
        <div id="u2490_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u2491" class="ax_default line">
        <img id="u2491_img" class="img " src="images/mainpage/u18.svg"/>
        <div id="u2491_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Vertical Line) -->
      <div id="u2492" class="ax_default line">
        <img id="u2492_img" class="img " src="images/mainpage/u18.svg"/>
        <div id="u2492_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2493" class="ax_default heading_1">
        <div id="u2493_div" class=""></div>
        <div id="u2493_text" class="text ">
          <p><span style="text-decoration:underline ;">Schedule plan without problem</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2494" class="ax_default heading_2">
        <div id="u2494_div" class=""></div>
        <div id="u2494_text" class="text ">
          <p><span>Facebook</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2495" class="ax_default heading_2">
        <div id="u2495_div" class=""></div>
        <div id="u2495_text" class="text ">
          <p><span>Email</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2496" class="ax_default heading_2">
        <div id="u2496_div" class=""></div>
        <div id="u2496_text" class="text ">
          <p><span>Phone</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2497" class="ax_default heading_2">
        <div id="u2497_div" class=""></div>
        <div id="u2497_text" class="text ">
          <p><span>Address</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2498" class="ax_default heading_2">
        <div id="u2498_div" class=""></div>
        <div id="u2498_text" class="text ">
          <p><span>Google</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2499" class="ax_default heading_2">
        <div id="u2499_div" class=""></div>
        <div id="u2499_text" class="text ">
          <p><span>About Us</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2500" class="ax_default heading_2">
        <div id="u2500_div" class=""></div>
        <div id="u2500_text" class="text ">
          <p><span>Contact Us</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2501" class="ax_default heading_2">
        <div id="u2501_div" class=""></div>
        <div id="u2501_text" class="text ">
          <p><span>Information</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2502" class="ax_default shape">
        <div id="u2502_div" class=""></div>
        <div id="u2502_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2503" class="ax_default heading_1">
        <div id="u2503_div" class=""></div>
        <div id="u2503_text" class="text ">
          <p><span style="text-decoration:underline ;">Rafał Niemiec 2020</span></p>
        </div>
      </div>
      <div id="u2489" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (accountField) -->

      <!-- Unnamed (menuBar 1920) -->

      <!-- Unnamed (Group) -->
      <div id="u2506" class="ax_default" data-left="0" data-top="0" data-width="1920" data-height="80">

        <!-- Unnamed (Group) -->
        <div id="u2507" class="ax_default" data-left="0" data-top="0" data-width="1920" data-height="80">

          <!-- Unnamed (Group) -->
          <div id="u2508" class="ax_default" data-left="0" data-top="0" data-width="1920" data-height="80">

            <!-- Unnamed (Rectangle) -->
            <div id="u2509" class="ax_default box_3">
              <div id="u2509_div" class=""></div>
              <div id="u2509_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2510" class="ax_default" data-left="1426" data-top="24" data-width="261" data-height="46">

            <!-- Unnamed (Rectangle) -->
            <div id="u2511" class="ax_default label">
              <div id="u2511_div" class=""></div>
              <div id="u2511_text" class="text ">
                <p><span style="text-decoration:underline ;">Futures</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2512" class="ax_default label">
              <div id="u2512_div" class=""></div>
              <div id="u2512_text" class="text ">
                <p><span style="text-decoration:underline ;">Support</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u2513" class="ax_default image">
          <img id="u2513_img" class="img " src="images/mainpage/u13.svg"/>
          <div id="u2513_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- LoginButton (Shape) -->
        <div id="u2514" class="ax_default icon" data-label="LoginButton">
          <img id="u2514_img" class="img " src="images/mainpage/loginbutton_u14.svg"/>
          <div id="u2514_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2515" class="ax_default line">
        <img id="u2515_img" class="img " src="images/mainpage/u15.svg"/>
        <div id="u2515_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2505" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (accountBar 1920) -->

      <!-- Unnamed (Group) -->
      <div id="u2517" class="ax_default" data-left="0" data-top="114" data-width="1563" data-height="92">

        <!-- Unnamed (Rectangle) -->
        <div id="u2518" class="ax_default box_3">
          <div id="u2518_div" class=""></div>
          <div id="u2518_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u2519" class="ax_default" data-left="76" data-top="279" data-width="237" data-height="320">

        <!-- Unnamed (Group) -->
        <div id="u2520" class="ax_default" data-left="76" data-top="279" data-width="237" data-height="80">

          <!-- Unnamed (Rectangle) -->
          <div id="u2521" class="ax_default heading_1">
            <div id="u2521_div" class=""></div>
            <div id="u2521_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My plans</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2522" class="ax_default icon">
            <img id="u2522_img" class="img " src="images/myplans/u2361.svg"/>
            <div id="u2522_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2523" class="ax_default" data-left="76" data-top="359" data-width="237" data-height="80">

          <!-- Unnamed (Rectangle) -->
          <div id="u2524" class="ax_default heading_1">
            <div id="u2524_div" class=""></div>
            <div id="u2524_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My account</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2525" class="ax_default icon">
            <img id="u2525_img" class="img " src="images/myplans/u2364.svg"/>
            <div id="u2525_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2526" class="ax_default" data-left="76" data-top="439" data-width="237" data-height="80">

          <!-- Unnamed (Rectangle) -->
          <div id="u2527" class="ax_default heading_1">
            <div id="u2527_div" class=""></div>
            <div id="u2527_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Change password</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2528" class="ax_default icon">
            <img id="u2528_img" class="img " src="images/myplans/u2367.svg"/>
            <div id="u2528_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2529" class="ax_default" data-left="76" data-top="519" data-width="237" data-height="80">

          <!-- Unnamed (Rectangle) -->
          <div id="u2530" class="ax_default heading_1">
            <div id="u2530_div" class=""></div>
            <div id="u2530_text" class="text ">
              <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Data sets</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u2531" class="ax_default icon">
            <img id="u2531_img" class="img " src="images/myplans/u2370.svg"/>
            <div id="u2531_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div id="u2516" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (optionsBar) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u2533" class="ax_default heading_1">
        <div id="u2533_div" class=""></div>
        <div id="u2533_text" class="text ">
          <p><span>Options</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2534" class="ax_default heading_1">
        <div id="u2534_div" class=""></div>
        <div id="u2534_text" class="text ">
          <p><span>Help</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2535" class="ax_default heading_1">
        <div id="u2535_div" class=""></div>
        <div id="u2535_text" class="text ">
          <p><span>Log Out</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2536" class="ax_default icon">
        <img id="u2536_img" class="img " src="images/myplans/u2375.svg"/>
        <div id="u2536_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2537" class="ax_default icon">
        <img id="u2537_img" class="img " src="images/myplans/u2376.svg"/>
        <div id="u2537_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2538" class="ax_default icon">
        <img id="u2538_img" class="img " src="images/myplans/u2377.svg"/>
        <div id="u2538_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2532" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Line) -->
      <div id="u2539" class="ax_default line">
        <img id="u2539_img" class="img " src="images/myplans/u2378.svg"/>
        <div id="u2539_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2540" class="ax_default shape">
        <div id="u2540_div" class=""></div>
        <div id="u2540_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u2504" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Group) -->
      <div id="u2541" class="ax_default" data-left="315" data-top="126" data-width="653" data-height="68">

        <!-- Unnamed (Group) -->
        <div id="u2542" class="ax_default" data-left="394" data-top="126" data-width="574" data-height="68">

          <!-- Unnamed (Rectangle) -->
          <div id="u2543" class="ax_default heading_1">
            <div id="u2543_div" class=""></div>
            <div id="u2543_text" class="text ">
              <p><span>Change password</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u2544" class="ax_default icon">
          <img id="u2544_img" class="img " src="images/changepassword/u2544.svg"/>
          <div id="u2544_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2545" class="ax_default shape">
        <div id="u2545_div" class=""></div>
        <div id="u2545_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2546" class="ax_default text_field">
        <div id="u2546_div" class=""></div>
        <input id="u2546_input" type="text" value="" class="u2546_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2547" class="ax_default text_field">
        <div id="u2547_div" class=""></div>
        <input id="u2547_input" type="text" value="" class="u2547_input"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u2548" class="ax_default text_field">
        <div id="u2548_div" class=""></div>
        <input id="u2548_input" type="text" value="" class="u2548_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2549" class="ax_default paragraph">
        <div id="u2549_div" class=""></div>
        <div id="u2549_text" class="text ">
          <p><span>Current password:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2550" class="ax_default paragraph">
        <div id="u2550_div" class=""></div>
        <div id="u2550_text" class="text ">
          <p><span>New password:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2551" class="ax_default paragraph">
        <div id="u2551_div" class=""></div>
        <div id="u2551_text" class="text ">
          <p><span>Retype new password:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2552" class="ax_default shape">
        <div id="u2552_div" class=""></div>
        <div id="u2552_text" class="text ">
          <p><span>Change password</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
