<!DOCTYPE html>
<html>
  <head>
    <title>help</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/help/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/help/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (menuBar) -->

      <!-- MenuBar (Group) -->
      <div id="u3309" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="83">

        <!-- MenuBar (Group) -->
        <div id="u3310" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="83">

          <!-- LogoImg (Image) -->
          <div id="u3311" class="ax_default image" data-label="LogoImg">
            <img id="u3311_img" class="img " src="images/mainpage/u20.png"/>
            <div id="u3311_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- MenuLine (Line) -->
          <div id="u3312" class="ax_default line" data-label="MenuLine">
            <img id="u3312_img" class="img " src="images/mainpage/menuline_u27.svg"/>
            <div id="u3312_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- LoginButton (Shape) -->
          <div id="u3313" class="ax_default icon" data-label="LoginButton">
            <img id="u3313_img" class="img " src="images/mainpage/loginbutton_u28.svg"/>
            <div id="u3313_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- MenuBarBg (Rectangle) -->
          <div id="u3314" class="ax_default box_3" data-label="MenuBarBg">
            <div id="u3314_div" class=""></div>
            <div id="u3314_text" class="text ">
              <p><span>asasdasdas</span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="u3308" style="display:none; visibility:hidden;"></div>

      <!-- Accordion (Group) -->
      <div id="u3315" class="ax_default" data-label="Accordion" data-left="0" data-top="245" data-width="1920" data-height="410">

        <!-- Accordion Item 1 (Group) -->
        <div id="u3316" class="ax_default" data-label="Accordion Item 1" data-left="0" data-top="245" data-width="1920" data-height="123">

          <!-- Header 1 (Rectangle) -->
          <div id="u3317" class="ax_default box_3" data-label="Header 1">
            <div id="u3317_div" class=""></div>
            <div id="u3317_text" class="text ">
              <p><span>How to crate new plan?</span></p>
            </div>
          </div>

          <!-- Panel 1 (Dynamic Panel) -->
          <div id="u3318" class="ax_default ax_default_hidden" data-label="Panel 1" style="display:none; visibility: hidden">
            <div id="u3318_state0" class="panel_state" data-label="State1" style="">
              <div id="u3318_state0_content" class="panel_state_content">

                <!-- Content Panel 1 (Rectangle) -->
                <div id="u3319" class="ax_default box_2" data-label="Content Panel 1">
                  <div id="u3319_div" class=""></div>
                  <div id="u3319_text" class="text ">
                    <p><span>Panel 1 content goes here</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Accordion Item 2 (Group) -->
        <div id="u3320" class="ax_default" data-label="Accordion Item 2" data-left="0" data-top="386" data-width="1920" data-height="123">

          <!-- Header 2 (Rectangle) -->
          <div id="u3321" class="ax_default box_3" data-label="Header 2">
            <div id="u3321_div" class=""></div>
            <div id="u3321_text" class="text ">
              <p><span>Why I need to input so many data?</span></p>
            </div>
          </div>

          <!-- Panel 2 (Dynamic Panel) -->
          <div id="u3322" class="ax_default ax_default_hidden" data-label="Panel 2" style="display:none; visibility: hidden">
            <div id="u3322_state0" class="panel_state" data-label="State1" style="">
              <div id="u3322_state0_content" class="panel_state_content">

                <!-- Content Panel 2 (Rectangle) -->
                <div id="u3323" class="ax_default box_2" data-label="Content Panel 2">
                  <div id="u3323_div" class=""></div>
                  <div id="u3323_text" class="text ">
                    <p><span>Panel 2 content goes here</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Accordion Item 3 (Group) -->
        <div id="u3324" class="ax_default" data-label="Accordion Item 3" data-left="0" data-top="532" data-width="1920" data-height="123">

          <!-- Header 3 (Rectangle) -->
          <div id="u3325" class="ax_default box_3" data-label="Header 3">
            <div id="u3325_div" class=""></div>
            <div id="u3325_text" class="text ">
              <p><span>I mistake data, how to change it?</span></p>
            </div>
          </div>

          <!-- Panel 3 (Dynamic Panel) -->
          <div id="u3326" class="ax_default ax_default_hidden" data-label="Panel 3" style="display:none; visibility: hidden">
            <div id="u3326_state0" class="panel_state" data-label="State1" style="">
              <div id="u3326_state0_content" class="panel_state_content">

                <!-- Content Panel 3 (Shape) -->
                <div id="u3327" class="ax_default box_2" data-label="Content Panel 3">
                  <img id="u3327_img" class="img " src="images/help/content_panel_3_u3327.svg"/>
                  <div id="u3327_text" class="text ">
                    <p><span>Panel 3 content goes here</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3328" class="ax_default heading_1">
        <div id="u3328_div" class=""></div>
        <div id="u3328_text" class="text ">
          <p><span>Help section</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3329" class="ax_default heading_3">
        <div id="u3329_div" class=""></div>
        <div id="u3329_text" class="text ">
          <p><span>Click in question to get more informations about the problem.</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
