<!DOCTYPE html>
<html>
  <head>
    <title>myPlans</title>
    {% include "scheduler/imports.html" %}
    {% load static %}
    <link href="{% static 'webScheduler/resources/reload.html' %}"/>
    <link href="{% static 'webScheduler/files/myplans/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'webScheduler/files/myplans/data.js' %}"></script>

    <link href="{% static 'webScheduler/addtimecss.css' %}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u2845" class="ax_default" data-left="736" data-top="406" data-width="718" data-height="373">

        <!-- Unnamed (Rectangle) -->
        <div id="u2846" class="ax_default box_1">
          <div id="u2846_div" class=""></div>
          <div id="u2846_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2847" class="ax_default box_3">
          <div id="u2847_div" class=""></div>
          <div id="u2847_text" class="text ">
            <p><span>Add new plan</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2848" class="ax_default heading_1">
          <div id="u2848_div" class=""></div>
          <div id="u2848_text" class="text ">
            <p><span>You don't have any plans yet.</span></p>
          </div>
        </div>
      </div>

      <!-- AllMyPlans (Group) -->
      <div id="u2849" class="ax_default" data-label="AllMyPlans" data-left="0" data-top="0" data-width="1920" data-height="1291">

        <!-- Unnamed (accountField) -->

        <!-- AllAccount (Group) -->
        <div id="u2851" class="ax_default" data-label="AllAccount" data-left="0" data-top="0" data-width="1920" data-height="1291">

          <!-- Unnamed (menuBar) -->

          <!-- MenuBar (Group) -->
          <div id="u2853" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="83">

            <!-- MenuBar (Group) -->
            <div id="u2854" class="ax_default" data-label="MenuBar" data-left="0" data-top="0" data-width="1920" data-height="83">

              <!-- LogoImg (Image) -->
              <div id="u2855" class="ax_default image" data-label="LogoImg">
                <img id="u2855_img" class="img " src="{% static 'webScheduler/images/mainpage/u20.png' %}"/>
                <div id="u2855_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- MenuLine (Line) -->
              <div id="u2856" class="ax_default line" data-label="MenuLine">
                <img id="u2856_img" class="img " src="{% static 'webScheduler/images/mainpage/menuline_u27.svg' %}"/>
                <div id="u2856_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- LoginButton (Shape) -->
              <div id="u2857" class="ax_default icon" data-label="LoginButton">
                <img id="u2857_img" class="img " src="{% static 'webScheduler/images/mainpage/loginbutton_u28.svg' %}"/>
                <div id="u2857_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- MenuBarBg (Rectangle) -->
              <div id="u2858" class="ax_default box_3" data-label="MenuBarBg">
                <div id="u2858_div" class=""></div>
                <div id="u2858_text" class="text ">
                  <p><span>asasdasdas</span></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u2852" style="display:none; visibility:hidden;"></div>

          <!-- Unnamed (accountBar 1920) -->

          <!-- Unnamed (Group) -->
          <div id="u2860" class="ax_default" data-left="0" data-top="144" data-width="1563" data-height="92">

            <!-- Unnamed (Rectangle) -->
            <div id="u2861" class="ax_default box_3">
              <div id="u2861_div" class=""></div>
              <div id="u2861_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2862" class="ax_default" data-left="76" data-top="309" data-width="237" data-height="320">

            <!-- Unnamed (Group) -->
            <div id="u2863" class="ax_default" data-left="76" data-top="309" data-width="237" data-height="80">

              <!-- Unnamed (Rectangle) -->
              <div id="u2864" class="ax_default heading_1">
                <div id="u2864_div" class=""></div>
                <div id="u2864_text" class="text ">
                  <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My plans</span></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u2865" class="ax_default icon">
                <img id="u2865_img" class="img " src="{% static 'webScheduler/images/myplans/u2865.svg' %}"/>
                <div id="u2865_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u2866" class="ax_default" data-left="76" data-top="389" data-width="237" data-height="80">

              <!-- Unnamed (Rectangle) -->
              <div id="u2867" class="ax_default heading_1">
                <div id="u2867_div" class=""></div>
                <div id="u2867_text" class="text ">
                  <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; My account</span></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u2868" class="ax_default icon">
                <img id="u2868_img" class="img " src="{% static 'webScheduler/images/myplans/u2868.svg'%}"/>
                <div id="u2868_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u2869" class="ax_default" data-left="76" data-top="469" data-width="237" data-height="80">

              <!-- Unnamed (Rectangle) -->
              <div id="u2870" class="ax_default heading_1">
                <div id="u2870_div" class=""></div>
                <div id="u2870_text" class="text ">
                  <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Change password</span></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u2871" class="ax_default icon">
                <img id="u2871_img" class="img " src="{% static 'webScheduler/images/myplans/u2871.svg' %}"/>
                <div id="u2871_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u2872" class="ax_default" data-left="76" data-top="549" data-width="237" data-height="80">

              <!-- Unnamed (Rectangle) -->
              <div id="u2873" class="ax_default heading_1">
                <div id="u2873_div" class=""></div>
                <div id="u2873_text" class="text ">
                  <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Data sets</span></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u2874" class="ax_default icon">
                <img id="u2874_img" class="img " src="{% static 'webScheduler/images/myplans/u2874.svg' %}"/>
                <div id="u2874_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u2859" style="display:none; visibility:hidden;"></div>

          <!-- Unnamed (optionsBar) -->

          <!-- Unnamed (Group) -->
          <div id="u2876" class="ax_default" data-left="108" data-top="715" data-width="212" data-height="60">

            <!-- Unnamed (Rectangle) -->
            <div id="u2877" class="ax_default heading_1">
              <div id="u2877_div" class=""></div>
              <div id="u2877_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Options</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2878" class="ax_default icon">
              <img id="u2878_img" class="img " src="{% static 'webScheduler/images/myplans/u2878.svg' %}"/>
              <div id="u2878_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- LogOutForms (Group) -->
          <div id="u2879" class="ax_default" data-label="LogOutForms" data-left="108" data-top="835" data-width="212" data-height="60">

            <!-- Unnamed (Rectangle) -->
            <div id="u2880" class="ax_default heading_1">
              <div id="u2880_div" class=""></div>
              <div id="u2880_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Log Out</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2881" class="ax_default icon">
              <img id="u2881_img" class="img " src="{% static 'webScheduler/images/myplans/u2881.svg' %}"/>
              <div id="u2881_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2882" class="ax_default" data-left="108" data-top="775" data-width="212" data-height="60">

            <!-- Unnamed (Rectangle) -->
            <div id="u2883" class="ax_default heading_1">
              <div id="u2883_div" class=""></div>
              <div id="u2883_text" class="text ">
                <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Help</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2884" class="ax_default icon">
              <img id="u2884_img" class="img " src="{% static 'webScheduler/images/myplans/u2884.svg' %}"/>
              <div id="u2884_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
          <div id="u2875" style="display:none; visibility:hidden;"></div>

          <!-- Unnamed (Shape) -->
          <div id="u2885" class="ax_default line">
            <img id="u2885_img" class="img " src="{% static 'webScheduler/images/myplans/u2885.svg' %}"/>
            <div id="u2885_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2886" class="ax_default shape">
            <div id="u2886_div" class=""></div>
            <div id="u2886_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (footer) -->

          <!-- FooterBar (Group) -->
          <div id="u2888" class="ax_default" data-label="FooterBar" data-left="0" data-top="967" data-width="1919" data-height="324">

            <!-- Unnamed (Rectangle) -->
            <div id="u2889" class="ax_default box_3">
              <div id="u2889_div" class=""></div>
              <div id="u2889_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2890" class="ax_default heading_1">
              <div id="u2890_div" class=""></div>
              <div id="u2890_text" class="text ">
                <p><span style="text-decoration:underline ;">Schedule plan without problem</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u2891" class="ax_default" data-left="636" data-top="1008" data-width="686" data-height="206">

              <!-- Unnamed (Group) -->
              <div id="u2892" class="ax_default" data-left="636" data-top="1070" data-width="686" data-height="144">

                <!-- Unnamed (Rectangle) -->
                <div id="u2893" class="ax_default heading_2">
                  <div id="u2893_div" class=""></div>
                  <div id="u2893_text" class="text ">
                    <p><span>Email</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u2894" class="ax_default heading_2">
                  <div id="u2894_div" class=""></div>
                  <div id="u2894_text" class="text ">
                    <p><span>Phone</span></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u2895" class="ax_default heading_2">
                  <div id="u2895_div" class=""></div>
                  <div id="u2895_text" class="text ">
                    <p><span>Address</span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u2896" class="ax_default heading_2">
                <div id="u2896_div" class=""></div>
                <div id="u2896_text" class="text ">
                  <p><span style="text-decoration:underline ;">Information</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u2897" class="ax_default" data-left="1383" data-top="1005" data-width="523" data-height="173">

              <!-- Unnamed (Rectangle) -->
              <div id="u2898" class="ax_default heading_2">
                <div id="u2898_div" class=""></div>
                <div id="u2898_text" class="text ">
                  <p><span>Facebook</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u2899" class="ax_default heading_2">
                <div id="u2899_div" class=""></div>
                <div id="u2899_text" class="text ">
                  <p><span>Google</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u2900" class="ax_default heading_2">
                <div id="u2900_div" class=""></div>
                <div id="u2900_text" class="text ">
                  <p><span style="text-decoration:underline ;">Contact Us</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2901" class="ax_default shape">
              <div id="u2901_div" class=""></div>
              <div id="u2901_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2902" class="ax_default heading_1">
              <div id="u2902_div" class=""></div>
              <div id="u2902_text" class="text ">
                <p><span style="text-decoration:underline ;">Rafał Niemiec 2020</span></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u2903" class="ax_default line">
              <img id="u2903_img" class="img " src="{% static 'webScheduler/images/mainpage/u18.svg' %}"/>
              <div id="u2903_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u2904" class="ax_default line">
              <img id="u2904_img" class="img " src="{% static 'webScheduler/images/mainpage/u18.svg' %}"/>
              <div id="u2904_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u2905" class="ax_default image">
            <img id="u2905_img" class="img " src="{% static 'webScheduler/images/mainpage/u20.png' %}"/>
            <div id="u2905_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u2906" class="ax_default line">
            <img id="u2906_img" class="img " src="{% static 'webScheduler/images/mainpage/u21.svg' %}"/>
            <div id="u2906_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u2907" class="ax_default line">
            <img id="u2907_img" class="img " src="{% static 'webScheduler/images/mainpage/u22.svg' %}"/>
            <div id="u2907_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
          <div id="u2887" style="display:none; visibility:hidden;"></div>
        </div>
        <div id="u2850" style="display:none; visibility:hidden;"></div>

        <!-- MyplansHeader (Group) -->
        <div id="u2908" class="ax_default" data-label="MyplansHeader" data-left="36" data-top="158" data-width="1344" data-height="68">

          <!-- MyplanText (Rectangle) -->
          <div id="u2909" class="ax_default heading_1" data-label="MyplanText">
            <div id="u2909_div" class=""></div>
            <div id="u2909_text" class="text ">
              <p><span>My plans</span></p>
            </div>
          </div>

          <!-- MyplansIcon (Shape) -->
          <div id="u2910" class="ax_default icon" data-label="MyplansIcon">
            <img id="u2910_img" class="img " src="{% static 'webScheduler/images/myplans/myplansicon_u2910.svg'%"/>
            <div id="u2910_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (newPlanIcon) -->

        <!-- AddPlanButton (Rectangle) -->
        <div id="u2912" class="ax_default shape" data-label="AddPlanButton" onclick="location.href='{% url 'instruction' %}'">
          <div id="u2912_div" class="" onclick="location.href='{% url 'instruction' %}'"></div>
          <div id="u2912_text" class="text " style="display:none; visibility: hidden" onclick="location.href='{% url 'instruction' %}'">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Plus) -->
        <div id="u2913" class="ax_default shape" onclick="location.href='{% url 'instruction' %}'">
          <img id="u2913_img" class="img " src="{% static 'webScheduler/images/myplans/u2913.svg' %}"/>
          <div id="u2913_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2914" class="ax_default paragraph" onclick="location.href='{% url 'instruction' %}'">
          <div id="u2914_div" class=""></div>
          <div id="u2914_text" class="text ">
            <p><span>Add new plan</span></p>
          </div>
        </div>
        <div id="u2911" style="display:none; visibility:hidden;"></div>
      </div>
    </div>
    <!--<script src="{% static 'webScheduler/resources/scripts/axure/ios.js' %}"></script>-->
  </body>
</html>
