<!DOCTYPE html>
<html>
  <head>
    <title>register</title>

    {% include "scheduler/imports.html" %}
    {% load static %}
    <link href="{% static 'webScheduler/files/register/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'webScheduler/files/register/data.js' %}"></script>


  </head>
  <body>
  <form action="" method="post">
    <div id="base" class="">

      <!-- LoginGroup (Group) -->
      <div id="u2852" class="ax_default ax_default_unplaced" data-label="LoginGroup" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Unnamed (Rectangle) -->
        <div id="u2853" class="ax_default primary_button ax_default_unplaced" style="display:none; visibility: hidden">
          <div id="u2853_div" class=""></div>
          <div id="u2853_text" class="text ">
            <p><span>Log In</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2854" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

          <!-- Unnamed (Group) -->
          <div id="u2855" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Text Field) -->
            <div id="u2856" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2856_div" class=""></div>
              <input id="u2856_input" type="text" value="" class="u2856_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2857" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2857_div" class=""></div>
              <div id="u2857_text" class="text ">
                <p><span>E-mail</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2858" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Text Field) -->
            <div id="u2859" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2859_div" class=""></div>
              <input id="u2859_input" type="text" value="" class="u2859_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2860" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2860_div" class=""></div>
              <div id="u2860_text" class="text ">
                <p><span>Password</span></p>
              </div>
            </div>
          </div>

          <!-- ForgotPasswordButton (Rectangle) -->
          <div id="u2861" class="ax_default label ax_default_unplaced" data-label="ForgotPasswordButton" style="display:none; visibility: hidden">
            <div id="u2861_div" class=""></div>
            <div id="u2861_text" class="text ">
              <p><span>Forgot password</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2862" class="ax_default button ax_default_unplaced" style="display:none; visibility: hidden">
          <div id="u2862_div" class=""></div>
          <div id="u2862_text" class="text ">
            <p><span>Register</span></p>
          </div>
        </div>
      </div>

      <!-- Register (Group) -->
      <div id="u2863" class="ax_default ax_default_unplaced" data-label="Register" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Unnamed (Rectangle) -->
        <div id="u2864" class="ax_default primary_button ax_default_unplaced" style="display:none; visibility: hidden">
          <div id="u2864_div" class=""></div>
          <div id="u2864_text" class="text ">
            <p><span>Register</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u2865" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

          <!-- Unnamed (Group) -->
          <div id="u2866" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Text Field) -->
            <div id="u2867" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2867_div" class=""></div>
              <input id="u2867_input" type="text" value="" class="u2867_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2868" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2868_div" class=""></div>
              <div id="u2868_text" class="text ">
                <p><span>E-mail</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2869" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Text Field) -->
            <div id="u2870" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2870_div" class=""></div>
              <input id="u2870_input" type="text" value="" class="u2870_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2871" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2871_div" class=""></div>
              <div id="u2871_text" class="text ">
                <p><span>Password</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2872" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
            <div id="u2872_div" class=""></div>
            <div id="u2872_text" class="text ">
              <p><span>I have a account.</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u2873" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Text Field) -->
            <div id="u2874" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2874_div" class=""></div>
              <input id="u2874_input" type="text" value="" class="u2874_input"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2875" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
              <div id="u2875_div" class=""></div>
              <div id="u2875_text" class="text ">
                <p><span>Retype password</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2876" class="ax_default button ax_default_unplaced" style="display:none; visibility: hidden">
          <div id="u2876_div" class=""></div>
          <div id="u2876_text" class="text ">
            <p><span>I have a account.</span></p>
          </div>
        </div>
      </div>

      <!-- Forgot password (Group) -->
      <div id="u2877" class="ax_default ax_default_unplaced" data-label="Forgot password" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Unnamed (Group) -->
        <div id="u2878" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

          <!-- Unnamed (Group) -->
          <div id="u2879" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Group) -->
            <div id="u2880" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

              <!-- Unnamed (Text Field) -->
              <div id="u2881" class="ax_default text_field ax_default_unplaced" style="display:none; visibility: hidden">
                <div id="u2881_div" class=""></div>
                <input id="u2881_input" type="text" value="" class="u2881_input"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u2882" class="ax_default label ax_default_unplaced" style="display:none; visibility: hidden">
                <div id="u2882_div" class=""></div>
                <div id="u2882_text" class="text ">
                  <p><span>E-mail</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u2883" class="ax_default heading_3 ax_default_unplaced" style="display:none; visibility: hidden">
            <div id="u2883_div" class=""></div>
            <div id="u2883_text" class="text ">
              <p><span style="font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;font-weight:700;">Write Your account email to recive activation mail.</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2884" class="ax_default primary_button ax_default_unplaced" style="display:none; visibility: hidden">
          <div id="u2884_div" class=""></div>
          <div id="u2884_text" class="text ">
            <p><span>Send email</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u2885" class="ax_default ax_default_unplaced" style="display:none; visibility: hidden">
        <div id="u2885_state0" class="panel_state" data-label="State1" style="">
          <div id="u2885_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- RegisterAll (Group) -->
      <div id="u2886" class="ax_default" data-label="RegisterAll" data-left="0" data-top="0" data-width="1200" data-height="796">

        <!-- RegisterBackground (Group) -->
        <div id="u2887" class="ax_default" data-label="RegisterBackground" data-left="0" data-top="0" data-width="1200" data-height="796">

          <!-- Unnamed (Rectangle) -->
          <div id="u2888" class="ax_default box_1">
            <div id="u2888_div" class=""></div>
            <div id="u2888_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- RightDecor (Rectangle) -->
          <div id="u2889" class="ax_default box_1" data-label="RightDecor">
            <div id="u2889_div" class=""></div>
            <div id="u2889_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- RegisterHeader (Rectangle) -->
        <div id="u2890" class="ax_default heading_2" data-label="RegisterHeader">
          <div id="u2890_div" class=""></div>
          <div id="u2890_text" class="text ">
            <p><span>Register</span></p>
          </div>
        </div>

        <!-- LoginGoButton (Rectangle) -->
        <div id="u2891" class="ax_default label" data-label="LoginGoButton">
          <div id="u2891_div" class=""></div>
          <div id="u2891_text" class="text ">
            <p><span>I have account? </span><span style="text-decoration:underline ;color:#006699;">Log in here</span></p>
          </div>
        </div>

        <!-- ShowButton (Rectangle) -->
        <div id="u2892" class="ax_default label" data-label="ShowButton">
          <div id="u2892_div" class=""></div>
          <div id="u2892_text" class="text ">
            <p><span>Show</span></p>
          </div>
        </div>

        <!-- RegisterForm (Group) -->
        <div id="u2893" class="ax_default" data-label="RegisterForm" data-left="77" data-top="175" data-width="425" data-height="411">

          <!-- UsernameContainer (Group) -->
          <div id="u2894" class="ax_default" data-label="UsernameContainer" data-left="77" data-top="212" data-width="425" data-height="53">

            <!-- Unnamed (Rectangle) -->
            <div id="u2895" class="ax_default box_1">
              <div id="u2895_div" class=""></div>
              <div id="u2895_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- UsernameField (Text Field) -->
            <div id="u2896" class="ax_default text_field" data-label="UsernameField">
              <div id="u2896_div" class=""></div>
              <input name="username" id="u2896_input" type="text" value="" class="u2896_input"/>
            </div>
          </div>

          <!-- RegisterButton (Rectangle) -->
          <div type="submit" id="u2897" class="ax_default box_1" data-label="RegisterButton">
            <img id="u2897_img" class="img " src="{% static 'webScheduler/images/register/registerbutton_u2897.svg' %}"/>
            <div id="u2897_text" class="text ">
              <input type="submit">
              <p><span>Register</span></p>
            </div>
          </div>

          <!-- UsernameText (Rectangle) -->
          <div id="u2898" class="ax_default heading_2" data-label="UsernameText">
            <div id="u2898_div" class=""></div>
            <div id="u2898_text" class="text ">
              <p><span>Username</span></p>
            </div>
          </div>

          <!-- PasswordContainer (Group) -->
          <div id="u2899" class="ax_default" data-label="PasswordContainer" data-left="77" data-top="324" data-width="425" data-height="44">

            <!-- Unnamed (Rectangle) -->
            <div id="u2900" class="ax_default box_1">
              <div id="u2900_div" class=""></div>
              <div id="u2900_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- PasswordField (Text Field) -->
            <div id="u2901" class="ax_default text_field" data-label="PasswordField">
              <div id="u2901_div" class=""></div>
              <input name="password" id="u2901_input" type="password" value="" class="u2901_input"/>
            </div>
          </div>

          <!-- PasswordText (Rectangle) -->
          <div id="u2902" class="ax_default heading_2" data-label="PasswordText">
            <div id="u2902_div" class=""></div>
            <div id="u2902_text" class="text ">
              <p><span>Password</span></p>
            </div>
          </div>

          <!-- RePasswordText (Rectangle) -->
          <div id="u2903" class="ax_default heading_2" data-label="RePasswordText">
            <div id="u2903_div" class=""></div>
            <div id="u2903_text" class="text ">
              <p><span>Re-type password</span></p>
            </div>
          </div>

          <!-- RePasswordContainer (Group) -->
          <div id="u2904" class="ax_default" data-label="RePasswordContainer" data-left="77" data-top="440" data-width="425" data-height="44">

            <!-- Unnamed (Rectangle) -->
            <div id="u2905" class="ax_default box_1">
              <div id="u2905_div" class=""></div>
              <div id="u2905_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- RePasswordField (Text Field) -->
            <div id="u2906" class="ax_default text_field" data-label="RePasswordField">
              <div id="u2906_div" class=""></div>
              <input name="rePassword" id="u2906_input" type="password" value="" class="u2906_input"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'webScheduler/resources/scripts/axure/ios.js' %}"></script>
  </form>
  </body>
</html>
