body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:68px;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:247px;
  height:68px;
  display:flex;
}
#u3311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1915px;
  height:2px;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:1914px;
  height:1px;
  display:flex;
}
#u3312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:10px;
  width:61px;
  height:61px;
  display:flex;
}
#u3313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  display:flex;
  opacity:0;
}
#u3314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:1920px;
  height:123px;
  display:flex;
  font-size:34px;
  color:#000000;
}
#u3317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:1920px;
  height:615px;
  visibility:hidden;
}
#u3318_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:615px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3318_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  display:flex;
  color:#8C8C8C;
}
#u3319 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:386px;
  width:1920px;
  height:123px;
  display:flex;
  font-size:34px;
  color:#000000;
}
#u3321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:1920px;
  height:615px;
  visibility:hidden;
}
#u3322_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:615px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3322_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  display:flex;
  color:#8C8C8C;
}
#u3323 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:1920px;
  height:123px;
  display:flex;
  font-size:34px;
  color:#000000;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:1920px;
  height:615px;
  visibility:hidden;
}
#u3326_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:615px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3326_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  display:flex;
  color:#8C8C8C;
}
#u3327 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:46px;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:121px;
  width:274px;
  height:54px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:46px;
}
#u3328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:195px;
  width:529px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.b {  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u3308.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
}
#u3311.b {
}
#u3311_img.b {
}
#u3311.b {
}
#u3311_text.b {
}
#u3311 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3312.b {
}
#u3312_img.b {
}
#u3312.b {
}
#u3312_text.b {
}
#u3312 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3313.b {
}
#u3313_img.b {
}
#u3313.b {
}
#u3313_text.b {
}
#u3313 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3314.b {
}
#u3314_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3314.b {
}
#u3314_text.b {
}
#u3314 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3317.b {
}
#u3317_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3317.b {
}
#u3317_text.b {
}
#u3317 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3318.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:1920px;
  height:615px;
}
#u3319.b {
}
#u3319_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3319.b {
}
#u3319_text.b {
}
#u3319 .text.b {
  align-self:center;
  padding:10px 10px 10px 10px;
}
#u3318_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3321.b {
}
#u3321_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3321.b {
}
#u3321_text.b {
}
#u3321 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3322.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:1920px;
  height:615px;
}
#u3323.b {
}
#u3323_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u3323.b {
}
#u3323_text.b {
}
#u3323 .text.b {
  align-self:center;
  padding:10px 10px 10px 10px;
}
#u3322_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3325.b {
}
#u3325_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:123px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
  color:#000000;
}
#u3325.b {
}
#u3325_text.b {
}
#u3325 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3326.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:1920px;
  height:615px;
}
#u3327.b {
}
#u3327_img.b {
}
#u3327.b {
}
#u3327_text.b {
}
#u3327 .text.b {
  align-self:center;
  padding:10px 10px 10px 10px;
}
#u3326_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3328.b {
}
#u3328_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:46px;
}
#u3328.b {
}
#u3328_text.b {
}
#u3328 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u3329.b {
}
#u3329_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3329.b {
}
#u3329_text.b {
}
#u3329 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
