body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:331px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1124px;
  width:1920px;
  height:331px;
  display:flex;
  color:#000000;
}
#u2434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:340px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:1201px;
  width:1px;
  height:339px;
  display:flex;
}
#u2435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:340px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:1201px;
  width:1px;
  height:339px;
  display:flex;
}
#u2436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:1271px;
  width:475px;
  height:37px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:1343px;
  width:113px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2438_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1310px;
  width:65px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2439_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:1371px;
  width:74px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:1429px;
  width:97px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:1404px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1385px;
  width:107px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2443_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:1213px;
  width:127px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:1213px;
  width:132px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u2445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:91px;
  background:inherit;
  background-color:rgba(4, 179, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF80;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1455px;
  width:1920px;
  height:91px;
  display:flex;
  color:#FFFF80;
}
#u2446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:1482px;
  width:290px;
  height:37px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u2447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  display:flex;
  opacity:0;
}
#u2453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:underline ;
  text-align:center;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:24px;
  width:91px;
  height:46px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:underline ;
  text-align:center;
}
#u2455 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:underline ;
  text-align:center;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:24px;
  width:93px;
  height:46px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:underline ;
  text-align:center;
}
#u2456 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:53px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:14px;
  width:215px;
  height:53px;
  display:flex;
}
#u2457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:10px;
  width:60px;
  height:60px;
  display:flex;
}
#u2458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1920px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0977639119145608deg);
  -moz-transform:rotate(0.0977639119145608deg);
  -ms-transform:rotate(0.0977639119145608deg);
  transform:rotate(0.0977639119145608deg);
}
#u2459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1563px;
  height:92px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:1563px;
  height:92px;
  display:flex;
}
#u2462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:279px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2465 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2465_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2465.mouseOver {
}
#u2465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:304px;
  width:30px;
  height:30px;
  display:flex;
  color:#000000;
}
#u2466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:359px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2468 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2468_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2468.mouseOver {
}
#u2468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:379px;
  width:30px;
  height:40px;
  display:flex;
  color:#7F7F7F;
}
#u2469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:439px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2471 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2471_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2471.mouseOver {
}
#u2471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:460px;
  width:32px;
  height:39px;
  display:flex;
  color:#000000;
}
#u2472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:519px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2474 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2474_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2474.mouseOver {
}
#u2474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:539px;
  width:30px;
  height:40px;
  display:flex;
  color:#000000;
}
#u2475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:715px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2477 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2477_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2477.selected {
}
#u2477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:775px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2478 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2478_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2478.selected {
}
#u2478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:835px;
  width:150px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2479 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2479_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2479.selected {
}
#u2479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:730px;
  width:30px;
  height:30px;
  display:flex;
}
#u2480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:850px;
  width:30px;
  height:30px;
  display:flex;
}
#u2481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:790px;
  width:30px;
  height:30px;
  display:flex;
}
#u2482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:2px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:607px;
  width:647px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:303px;
  width:981px;
  height:628px;
  display:flex;
}
#u2484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:59px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:125px;
  width:410px;
  height:59px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:59px;
}
#u2486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:54px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:132px;
  width:59px;
  height:54px;
  display:flex;
}
#u2487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:455px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:416px;
  width:237px;
  height:455px;
  display:flex;
  font-size:23px;
}
#u2488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
