body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:864px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:1920px;
  height:864px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(106, 204, 115, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:559px;
  width:179px;
  height:58px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:496px;
  width:240px;
  height:21px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:282px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1609px;
  width:1918px;
  height:282px;
  display:flex;
  color:#000000;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Papyrus Bold', 'Papyrus Normalny', 'Papyrus', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1706px;
  width:371px;
  height:42px;
  display:flex;
  font-family:'Papyrus Bold', 'Papyrus Normalny', 'Papyrus', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1578px;
  top:1733px;
  width:163px;
  height:35px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:1712px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:1765px;
  width:129px;
  height:39px;
  display:flex;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1821px;
  width:129px;
  height:35px;
  display:flex;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#95F204;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1650px;
  width:143px;
  height:31px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#95F204;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1578px;
  top:1785px;
  width:163px;
  height:35px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1771px;
  width:107px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:1647px;
  width:127px;
  height:28px;
  display:flex;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:42px;
  background:inherit;
  background-color:rgba(4, 179, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF80;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1891px;
  width:1918px;
  height:42px;
  display:flex;
  color:#FFFF80;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:14px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1891px;
  width:136px;
  height:42px;
  display:flex;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:14px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:208px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:1650px;
  width:1px;
  height:207px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:208px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:1647px;
  width:1px;
  height:207px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:74px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1624px;
  width:248px;
  height:74px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:2px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1141px;
  width:1900px;
  height:1px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1059px;
  width:153px;
  height:37px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  display:flex;
  opacity:0;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:68px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:247px;
  height:68px;
  display:flex;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:10px;
  width:61px;
  height:61px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1915px;
  height:2px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:1914px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0977639119145608deg);
  -moz-transform:rotate(0.0977639119145608deg);
  -ms-transform:rotate(0.0977639119145608deg);
  transform:rotate(0.0977639119145608deg);
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:980px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:980px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:980px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:980px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.a {
  top:53px;
  width:1200px;
  height:687px;
}
#u1_img.a {
  width:1200px;
  height:687px;
}
#u1.a {
  top:53px;
  width:1200px;
  height:687px;
}
#u1_text.a {
}
#u1 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.a {
  left:510px;
  top:380px;
}
#u2_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(106, 204, 115, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2.a {
  left:510px;
  top:380px;
}
#u2_text.a {
}
#u2 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3.a {
  left:500px;
  top:308px;
  height:35px;
}
#u3_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3.a {
  left:500px;
  top:308px;
  height:35px;
}
#u3_text.a {
}
#u3 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u4.a {
  position:absolute;
  left:1px;
  top:1186px;
  width:1199px;
  height:213px;
}
#u6.a {
  left:2px;
  top:1186px;
  width:1198px;
  height:176px;
}
#u6_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:176px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6.a {
  left:2px;
  top:1186px;
  width:1198px;
  height:176px;
}
#u6_text.a {
}
#u6 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.a {
  left:34px;
  top:1283px;
}
#u7_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Papyrus Bold', 'Papyrus Normalny', 'Papyrus', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u7.a {
  left:34px;
  top:1283px;
}
#u7_text.a {
}
#u7 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u8.a {
  left:986px;
  top:1263px;
  width:102px;
  height:22px;
}
#u8_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8.a {
  left:986px;
  top:1263px;
  width:102px;
  height:22px;
}
#u8_text.a {
}
#u8 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u11.a {
  left:560px;
  top:1250px;
  width:81px;
  height:25px;
}
#u11_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u11.a {
  left:560px;
  top:1250px;
  width:81px;
  height:25px;
}
#u11_text.a {
}
#u11 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u12.a {
  left:560px;
  top:1283px;
  width:81px;
  height:24px;
}
#u12_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u12.a {
  left:560px;
  top:1283px;
  width:81px;
  height:24px;
}
#u12_text.a {
}
#u12 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u13.a {
  left:558px;
  top:1318px;
  width:81px;
  height:22px;
}
#u13_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  text-align:center;
}
#u13.a {
  left:558px;
  top:1318px;
  width:81px;
  height:22px;
}
#u13_text.a {
}
#u13 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u14.a {
  left:558px;
  top:1212px;
}
#u14_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#95F204;
}
#u14.a {
  left:558px;
  top:1212px;
}
#u14_text.a {
}
#u14 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u15.a {
  left:986px;
  top:1296px;
  width:102px;
  height:22px;
}
#u15_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15.a {
  left:986px;
  top:1296px;
  width:102px;
  height:22px;
}
#u15_text.a {
}
#u15 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u16.a {
  left:21px;
  top:1287px;
}
#u16_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u16.a {
  left:21px;
  top:1287px;
}
#u16_text.a {
}
#u16 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u17.a {
  left:997px;
  top:1210px;
}
#u17_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u17.a {
  left:997px;
  top:1210px;
}
#u17_text.a {
}
#u17 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u18.a {
  top:1362px;
  width:1198px;
  height:26px;
}
#u18_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:26px;
  background:inherit;
  background-color:rgba(4, 179, 21, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF80;
}
#u18.a {
  top:1362px;
  width:1198px;
  height:26px;
}
#u18_text.a {
}
#u18 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u19.a {
  left:559px;
  top:1362px;
  width:85px;
  height:26px;
}
#u19_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiona kursywa', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:14px;
  text-decoration:underline ;
  color:#FFFFFF;
}
#u19.a {
  left:559px;
  top:1362px;
  width:85px;
  height:26px;
}
#u19_text.a {
}
#u19 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u20.a {
  left:382px;
  top:1212px;
  height:129px;
}
#u20_img.a {
  height:130px;
}
#u20.a {
  left:382px;
  top:1212px;
  height:129px;
}
#u20_text.a {
}
#u20 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u21.a {
  left:843px;
  top:1210px;
  height:129px;
}
#u21_img.a {
  height:130px;
}
#u21.a {
  left:843px;
  top:1210px;
  height:129px;
}
#u21_text.a {
}
#u21 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u22.a {
  left:20px;
  top:1201px;
}
#u22_img.a {
}
#u22.a {
  left:20px;
  top:1201px;
}
#u22_text.a {
}
#u22 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u23.a {
  left:38px;
  top:919px;
  width:1163px;
}
#u23_img.a {
  width:1164px;
}
#u23.a {
  left:38px;
  top:919px;
  width:1163px;
}
#u23_text.a {
}
#u23 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u24.a {
  left:38px;
  top:856px;
}
#u24_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.a {
  left:38px;
  top:856px;
}
#u24_text.a {
}
#u24 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u25.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:53px;
}
#u28.a {
  width:1200px;
  height:50px;
}
#u28_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28.a {
  width:1200px;
  height:50px;
}
#u28_text.a {
}
#u28 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u29.a {
  width:134px;
  height:33px;
}
#u29_img.a {
  width:134px;
  height:33px;
}
#u29.a {
  width:134px;
  height:33px;
}
#u29_text.a {
}
#u29 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u30.a {
  left:1131px;
  top:6px;
  width:38px;
  height:38px;
}
#u30_img.a {
  width:38px;
  height:38px;
}
#u30.a {
  left:1131px;
  top:6px;
  width:38px;
  height:38px;
}
#u30_text.a {
}
#u30 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u31.a {
  top:51px;
  width:1196px;
}
#u31_img.a {
  width:1197px;
}
#u31.a {
  top:51px;
  width:1196px;
}
#u31_text.a {
}
#u31 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u32.a {
}
#u32_img.a {
}
#u32.a {
}
#u32_text.a {
}
#u32 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u34.a {
}
#u34_img.a {
}
#u34.a {
}
#u34_text.a {
}
#u34 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
