body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:201px;
  background:inherit;
  background-color:rgba(245, 255, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:320px;
  width:209px;
  height:201px;
  display:flex;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:341px;
  width:170px;
  height:15px;
  display:flex;
}
#u2564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:195px;
  height:13px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:375px;
  width:188px;
  height:6px;
  display:flex;
}
#u2565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:425px;
  width:50px;
  height:50px;
  display:flex;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
  background:inherit;
  background-color:rgba(50, 250, 50, 0.231372549019608);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:320px;
  width:103px;
  height:100px;
  display:flex;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:329px;
  width:50px;
  height:50px;
  display:flex;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:390px;
  width:100px;
  height:15px;
  display:flex;
  text-align:center;
}
#u2570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  display:flex;
  opacity:0;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:68px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:247px;
  height:68px;
  display:flex;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:10px;
  width:61px;
  height:61px;
  display:flex;
}
#u2578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1915px;
  height:2px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:1914px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0977639119145608deg);
  -moz-transform:rotate(0.0977639119145608deg);
  -ms-transform:rotate(0.0977639119145608deg);
  transform:rotate(0.0977639119145608deg);
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1563px;
  height:92px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:1563px;
  height:92px;
  display:flex;
}
#u2582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:309px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2585_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2585.mouseOver {
}
#u2585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:334px;
  width:30px;
  height:30px;
  display:flex;
  color:#000000;
}
#u2586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:389px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2588 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2588_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2588.mouseOver {
}
#u2588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:409px;
  width:30px;
  height:40px;
  display:flex;
  color:#7F7F7F;
}
#u2589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:469px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2591 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2591_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2591.mouseOver {
}
#u2591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:39px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:490px;
  width:32px;
  height:39px;
  display:flex;
  color:#000000;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:549px;
  width:237px;
  height:80px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2594 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2594_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2594.mouseOver {
}
#u2594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:569px;
  width:30px;
  height:40px;
  display:flex;
  color:#000000;
}
#u2595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:715px;
  width:212px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2598_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598.mouseOver {
}
#u2598_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598.selected {
}
#u2598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:730px;
  width:30px;
  height:30px;
  display:flex;
}
#u2599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:835px;
  width:212px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2601_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601.mouseOver {
}
#u2601_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601.selected {
}
#u2601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:850px;
  width:30px;
  height:30px;
  display:flex;
}
#u2602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:775px;
  width:212px;
  height:60px;
  display:flex;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2604_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604.mouseOver {
}
#u2604_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604.selected {
}
#u2604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:790px;
  width:30px;
  height:30px;
  display:flex;
}
#u2605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:2px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:617px;
  width:647px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:303px;
  width:981px;
  height:628px;
  display:flex;
}
#u2607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.b {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2562.b {
  position:absolute;
  left:566px;
  top:320px;
  width:209px;
  height:201px;
}
#u2563.b {
}
#u2563_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:201px;
  background:inherit;
  background-color:rgba(245, 255, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2563.b {
}
#u2563_text.b {
}
#u2563 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2564.b {
}
#u2564_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2564.b {
}
#u2564_text.b {
}
#u2564 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2565.b {
}
#u2565_img.b {
}
#u2565.b {
}
#u2565_text.b {
}
#u2565 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2566.b {
}
#u2566_img.b {
}
#u2566.b {
}
#u2566_text.b {
}
#u2566 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2567.b {
  position:absolute;
  left:900px;
  top:320px;
  width:103px;
  height:100px;
}
#u2568.b {
}
#u2568_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
  background:inherit;
  background-color:rgba(50, 250, 50, 0.231372549019608);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2568.b {
}
#u2568_text.b {
}
#u2568 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2569.b {
}
#u2569_img.b {
}
#u2569.b {
}
#u2569_text.b {
}
#u2569 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2570.b {
}
#u2570_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2570.b {
}
#u2570_text.b {
}
#u2570 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2571.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:941px;
}
#u2573.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u2576.b {
}
#u2576_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2576.b {
}
#u2576_text.b {
}
#u2576 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2577.b {
}
#u2577_img.b {
}
#u2577.b {
}
#u2577_text.b {
}
#u2577 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2578.b {
}
#u2578_img.b {
}
#u2578.b {
}
#u2578_text.b {
}
#u2578 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2579.b {
}
#u2579_img.b {
}
#u2579.b {
}
#u2579_text.b {
}
#u2579 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2580.b {
  position:absolute;
  left:0px;
  top:144px;
  width:1563px;
  height:485px;
}
#u2582.b {
}
#u2582_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1563px;
  height:92px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582.b {
}
#u2582_text.b {
}
#u2582 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2585.b {
}
#u2585_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2585.b {
}
#u2585_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2585.b.mouseOver {
}
#u2585_text.b {
}
#u2585 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2586.b {
}
#u2586_img.b {
}
#u2586.b {
}
#u2586_text.b {
}
#u2586 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2588.b {
}
#u2588_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2588.b {
}
#u2588_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2588.b.mouseOver {
}
#u2588_text.b {
}
#u2588 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2589.b {
}
#u2589_img.b {
}
#u2589.b {
}
#u2589_text.b {
}
#u2589 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2591.b {
}
#u2591_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2591.b {
}
#u2591_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2591.b.mouseOver {
}
#u2591_text.b {
}
#u2591 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2592.b {
}
#u2592_img.b {
}
#u2592.b {
}
#u2592_text.b {
}
#u2592 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2594.b {
}
#u2594_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2594.b {
}
#u2594_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2594.b.mouseOver {
}
#u2594_text.b {
}
#u2594 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2595.b {
}
#u2595_img.b {
}
#u2595.b {
}
#u2595_text.b {
}
#u2595 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2596.b {
  position:absolute;
  left:108px;
  top:715px;
  width:212px;
  height:180px;
}
#u2598.b {
}
#u2598_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598.b {
}
#u2598_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598.b.mouseOver {
}
#u2598_div.selected.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2598.b.selected {
}
#u2598_text.b {
}
#u2598 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2599.b {
}
#u2599_img.b {
}
#u2599.b {
}
#u2599_text.b {
}
#u2599 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2601.b {
}
#u2601_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601.b {
}
#u2601_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601.b.mouseOver {
}
#u2601_div.selected.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2601.b.selected {
}
#u2601_text.b {
}
#u2601 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2602.b {
}
#u2602_img.b {
}
#u2602.b {
}
#u2602_text.b {
}
#u2602 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2604.b {
}
#u2604_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604.b {
}
#u2604_div.mouseOver.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604.b.mouseOver {
}
#u2604_div.selected.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
}
#u2604.b.selected {
}
#u2604_text.b {
}
#u2604 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u2605.b {
}
#u2605_img.b {
}
#u2605.b {
}
#u2605_text.b {
}
#u2605 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2606.b {
}
#u2606_img.b {
}
#u2606.b {
}
#u2606_text.b {
}
#u2606 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2607.b {
}
#u2607_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2607.b {
}
#u2607_text.b {
}
#u2607 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
